.text-field {
  position: relative;
}

fieldset {
  border: none;
}

.text-field > input, .text-field > textarea {
  width: 100%;
  display: block;
  border: 1px solid #C4C4C4;
  color: #666;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 4px;
  resize: none;
}
input.tf:hover {
  border: 1px solid #202020;
}

input.tf:focus {
      border: 1px solid #4153AF;
      background-color:#fff;
  }

label.tfl {
  color: #666;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 16px;
  transition: 0.2s;
}

label.date {
  top: -10px; left: 16px;
  background-color:#fff;
  padding: 0 5px 0 5px;
}

input.tf:focus ~ label.tfl, input.tf:valid ~ label.tfl {
  top: -10px;
  left: 16px;
  font-size: small;
  color: #4153AF;
  background-color:#fff;
  padding:0 5px 0 5px;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}