.text-field {
  position: relative;
}

fieldset {
  border: none;
}

.text-field > input, .text-field > textarea {
  width: 100%;
  display: block;
  border: 1px solid #C4C4C4;
  color: #666;
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 4px;
  resize: none;
}
input.tf:hover {
  border: 1px solid #202020;
}

input.tf:focus {
      border: 1px solid #4153AF;
      background-color:#fff;
  }

label.tfl {
  color: #666;
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 16px;
  transition: 0.2s;
}

label.date {
  top: -10px; left: 16px;
  background-color:#fff;
  padding: 0 5px 0 5px;
}

input.tf:focus ~ label.tfl, input.tf:valid ~ label.tfl {
  top: -10px;
  left: 16px;
  font-size: small;
  color: #4153AF;
  background-color:#fff;
  padding:0 5px 0 5px;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.reply-card {
  background-color: #e8e8e8;
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  border-radius: 8px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
              0px 1px 1px 0px rgb(0 0 0 / 14%),
              0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.r-c-avatar {
  height: 56px;
  padding: 16px 0 0 16px;
}

.r-c-date {
  color: gray;
}

.reply-card-text {
  padding: 8px 0 0 16px;
}

.reply-card-text > h4 {
  margin: 0;
  text-align: left;
}

.reply-card-text > p {
  text-align: left;
  margin: 8px 0;
}

